/* --------- */
/* Variables */
/* --------- */

:root {
  --light-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);

  --transition: all 0.3s linear;
  --slow-transition: all 0.5s linear;
  --spacing: 0.05rem;
  --corner-length: 20px;
  --corner-length-laptop: 30px;
  --corner-width: 3px;
  --corner-width-laptop: 4px;
  --corner-distance: 7px;
  --corner-distance-laptop: 12px;
  --corner-color: #270945;
  --border-radius: 5px;

  --color-1: #e6e8f5;
  --color-2: #626cb3;
  --color-3: #270945;
  --color-dark: #393b44;
  --color-dark-transp: #393b44f5;

  --loading-size: 150px;

  --shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadow-4: 0 20px 25px 5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);

  --fading-time-1: 0.5s;
  --fading-time-2: 1s;

  --fixed-width: 600px;
  --admin-column-width: clamp(150px, 10vw, 250px);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Segoe UI', 'Sen', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--color-3);
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  text-underline-offset: 5px;
}

body {
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  margin-top: 0.5rem;
}

.corner-border {
  border-radius: var(--border-radius);
  background: linear-gradient(
        to right,
        var(--corner-color) var(--corner-width),
        transparent var(--corner-width)
      )
      0 0,
    linear-gradient(
        to right,
        var(--corner-color) var(--corner-width),
        transparent var(--corner-width)
      )
      0 100%,
    linear-gradient(
        to left,
        var(--corner-color) var(--corner-width),
        transparent var(--corner-width)
      )
      100% 0,
    linear-gradient(
        to left,
        var(--corner-color) var(--corner-width),
        transparent var(--corner-width)
      )
      100% 100%,
    linear-gradient(
        to bottom,
        var(--corner-color) var(--corner-width),
        transparent var(--corner-width)
      )
      0 0,
    linear-gradient(
        to bottom,
        var(--corner-color) var(--corner-width),
        transparent var(--corner-width)
      )
      100% 0,
    linear-gradient(
        to top,
        var(--corner-color) var(--corner-width),
        transparent var(--corner-width)
      )
      0 100%,
    linear-gradient(
        to top,
        var(--corner-color) var(--corner-width),
        transparent var(--corner-width)
      )
      100% 100%;
  background-repeat: no-repeat;
  background-size: var(--corner-length) var(--corner-length);
  padding: var(--corner-distance);
}

a {
  text-decoration: none;
}

/* border at bigger screen size */
@media screen and (min-width: 1200px) {
  .corner-border {
    border-radius: var(--border-radius);
    background: linear-gradient(
          to right,
          var(--corner-color) var(--corner-width-laptop),
          transparent var(--corner-width-laptop)
        )
        0 0,
      linear-gradient(
          to right,
          var(--corner-color) var(--corner-width-laptop),
          transparent var(--corner-width-laptop)
        )
        0 100%,
      linear-gradient(
          to left,
          var(--corner-color) var(--corner-width-laptop),
          transparent var(--corner-width-laptop)
        )
        100% 0,
      linear-gradient(
          to left,
          var(--corner-color) var(--corner-width-laptop),
          transparent var(--corner-width-laptop)
        )
        100% 100%,
      linear-gradient(
          to bottom,
          var(--corner-color) var(--corner-width-laptop),
          transparent var(--corner-width-laptop)
        )
        0 0,
      linear-gradient(
          to bottom,
          var(--corner-color) var(--corner-width-laptop),
          transparent var(--corner-width-laptop)
        )
        100% 0,
      linear-gradient(
          to top,
          var(--corner-color) var(--corner-width-laptop),
          transparent var(--corner-width-laptop)
        )
        0 100%,
      linear-gradient(
          to top,
          var(--corner-color) var(--corner-width-laptop),
          transparent var(--corner-width-laptop)
        )
        100% 100%;
    background-repeat: no-repeat;
    background-size: var(--corner-length-laptop) var(--corner-length-laptop);
    padding: var(--corner-distance-laptop);
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}

/* ----------------------- */
/* Full Page Image */
/* ----------------------- */
#fullpage-img-container {
  position: absolute;
  top: 0;
  left: 0;
  /* width: 100vw; */
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: var(--color-dark);
  animation: appear var(--fading-time-1) ease;
  display: flex;
  align-items: center;
}

.fullpage-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  max-height: 82vh;
}

.info-btn,
.close-btn {
  position: absolute;
  top: 1rem;
  font-size: 2.5rem;
  color: var(--color-1);
  cursor: pointer;
  transition: var(--transition);
}

.info-btn:hover,
.close-btn:hover {
  transform: scale(1.05);
}

.close-btn {
  right: 1rem;
}

.info-btn {
  left: 1rem;
}

@media screen and (min-width: 1200px) {
  .info-btn,
  .close-btn {
    top: 2rem;
  }
  .close-btn {
    right: 2rem;
  }

  .info-btn {
    left: 2rem;
  }
  .fullpage-img {
    max-height: 100vh;
  }
}
/*
=============== 
Image Info
===============
*/
.image-info {
  position: absolute;
  bottom: calc(var(--corner-distance-laptop) + 5px);
  left: calc(var(--corner-distance-laptop) + 5px);

  z-index: 1000;
  background-color: var(--color-1);
  padding: 1rem;
  transition: var(--transition);
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 0.4rem;
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-1);
  animation: appear var(--fading-time-1) ease;
}

.close-info-btn {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  cursor: pointer;
  transition: var(--transition);
}

.close-info-btn:hover {
  transform: scale(1.05);
}

/*
=============== 
Navbar
===============
*/

@media screen and (min-width: 992px) {
  .active {
    cursor: default;
    background-color: var(--color-1);
  }
}

/*
=============== 
Mobile Gallery
===============
*/
@media screen and (min-width: 1200px) {
  .mobile-gallery {
    display: none !important;
  }
}

.mobile-gallery {
  height: 100%;
  width: 90%;
  max-width: 600px;
  transition: var(--transition);
  display: flex;
  flex-flow: column nowrap;
  padding-bottom: 25px;
  gap: 10px;
  overflow: auto;
  scroll-behavior: smooth;
}

.mobile-gallery h4 {
  color: var(--color-3);
  font-size: 1.2rem;
  text-transform: uppercase;
  transition: var(--transition);
}

.mobile-gallery::-webkit-scrollbar {
  width: 0;
}

.mobile-img-container {
  transition: var(--slow-transition);
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  gap: 10px;
}

.mobile-img {
  transition: var(--slow-transition);
  cursor: pointer;
  width: 100%;
  height: auto;
}

@media screen and (min-width: 1200px) {
  .mobile-gallery {
    content-visibility: hidden;
  }
}

/*
=============== 
Loading
===============
*/

.loading {
  width: var(--loading-size);
  height: var(--loading-size);
  transition: var(--transition);
  position: absolute;
  left: calc(50% - var(--loading-size) / 2);
  top: calc(50vh - var(--loading-size) / 2);
  border-radius: 50%;
  border: 5px solid var(--color-2);
  border-top-color: var(--color-3);
  animation: spinner 0.6s linear infinite, delayedfadein 1.5s ease-in-out;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

@keyframes delayedfadein {
  from {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media screen and (min-width: 1200px) {
  .loading {
    top: auto;
  }
}

/* form */

.form {
  background: var(--color-1);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-2);
  padding: 2rem 2.5rem;
  margin: 3rem auto;
}

.form-label {
  display: block;
  margin-bottom: 0.75rem;
  text-transform: capitalize;
  line-height: 1.5;
}
.form-input,
.form-textarea,
.form-select {
  width: 100%;
  padding: 0.375rem 0.75rem;
  background-color: white;
  border-radius: var(--border-radius);
  border: 1px solid var(--color-3);
  outline: none;
}
.form-input,
.form-select,
.form-btn {
  height: 35px;
}

.form-row {
  margin-bottom: 1rem;
}

.form-textarea {
  height: 7rem;
}

.form-alert {
  color: red;
  letter-spacing: var(--letter-spacing);
  text-transform: capitalize;
}

.btn {
  cursor: pointer;
  color: var(--color-3);
  background: white;
  border: transparent;
  border-radius: var(--border-radius);
  padding: 0.375rem 0.75rem;
  box-shadow: var(--shadow-1);
  transition: var(--transition);
  text-transform: uppercase;
  font-weight: 600;
  display: inline-block;
}

label.btn:hover,
.btn:not(.invisible-btn):enabled:hover {
  background: var(--color-2);
  color: white;
  box-shadow: var(--shadow-3);
}

.btn-block {
  width: 100%;
}

button:disabled {
  cursor: auto;
  background-color: var(--color-1);
  color: var(--color-dark);
}

.invisible-btn {
  border: transparent;
  background: transparent;
  box-shadow: none;
}

.add-btn {
  font-size: 1.5rem;
  margin-top: 1rem;
}

.md-btn {
  font-size: 1.2rem;
}
.add-btn:hover {
  transform: scale(1.05);
}
